@import url("https://fonts.googleapis.com/css2?family=Funnel Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body, html {
    scroll-behavior: smooth;
}

body, #root {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--color-zinc-950);
}

button {
    cursor: pointer;
}

::selection {
    background-color: var(--color-amber-700);
    color: var(--color-zinc-100);
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Font Classes */
/* Poppins Fonts */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Roboto Fonts */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-extralight {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-semibold {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-extrabold {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* Montserrat Fonts */
.montserrat-thin {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.montserrat-extralight {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.montserrat-extrabold {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.montserrat-black {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.spark-animation {
    opacity: 0;
    transform: translateY(0);
    animation: spark-animation 1s ease-out infinite;
}

@keyframes spark-animation {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(-8px);
    }
    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

.blink-animation {
    opacity: 0;
    animation: blink-animation 3s ease-out infinite;
}

@keyframes blink-animation {
    50% {
        opacity: 1;
    }
}